@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

:root {
    font-family: Oxygen, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

canvas{
    position: absolute;
}

header, footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    flex: 2;
    display:flex;
    text-align: center;
    justify-content: center;
}

