:root {
    font-family: Oxygen, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

header, section, footer {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
}

header{
    flex: 0 80px;
    display: flex;
    align-items: baseline;
    background-color: burlywood;
}

a {
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    padding: 5px;
}

h1{
    flex: 1;
}
nav{
    flex: 5;
    margin: 10px;
}

#profile, img{
    flex:0 50px;
    background-color: lightgray;
}


main{
    flex: 10;
    display: flex;
    justify-content: left;
}

#notifications{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#calories {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

footer {
    flex: 1;
    background-color: burlywood;
}