@media screen and (max-width: 600px) {
    .section-container, .container {
        width: 100%;
        flex-wrap: wrap;
    }
}

#profile {
    flex-direction: column;
    align-items: center;
}

#profile-header,
#profile-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#profile-header {
    flex: 1;
}

#profile-header > div > img{
    margin: 10px;
}

#profile-header>div>p{
    margin: 10px;
}

#profile-content {
    flex: 3;
}

#biography {
    padding: 10px;
    max-width: 500px;
    margin: 15px;
}

.container {
    display: flex;
    align-items: center;
}

#friends-list {
    list-style: none;
}

#friends-list>li>a {
    margin: 5px;
}

#friends-list>li>img {
    margin: 5px;
}

#create-post-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#create-post-container > input, textarea {
    margin: 0px 0px 20px;
}

#post-image-button {
    margin: 0px;
    font-size: medium;
}

label {
    display: block;
}

p{
    margin: 0px;
}


