@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

:root {
    font-family: Oxygen, sans-serif;
    font-size: larger;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
main, 
footer {
    margin: 0px 15px 5px 15px;
}

header {
    flex: 1;
    display: flex;
    align-items: baseline;
    border-bottom: thin lightgray solid;
}

h1 {
    margin: 20px;
    flex: 0 100px;
}

nav {
    flex: 1;
}

img {
    flex: 0 50px;
    background-color: lightgray;
}

header>a,
img {
    margin: 10px;
}

main {
    flex: 6;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.section-container {
    border: thin lightgray solid;
    border-radius: 15px;
    flex: 0 400px;
    margin: 15px 0px;
}

section {
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

section > p{
    margin: 10px;
    margin-bottom: 0px;
}

#notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: medium;
}

#meals {
    align-items: center;
    font-size: medium;
}

#meals > .card-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    overflow-x:scroll;
    margin: 10px;
}

.card {
    width: 300px;
}

.card > img {
    max-width: 100%;
    max-height: 50%;
}


a {
    margin: 20px;
    text-decoration: none;
}

b {
    margin: 10px;
    font-size: larger;
}

.container {
    display: flex;
    margin: 10px;
    max-height: 25px;
}

.container > button {
    font-size: small;
    align-items: center;
}

.accordian-section{
    display: flex;
    flex-direction: row;
}

footer {
    flex: 1;
    border-top: thin lightgray solid;
    display: flex;
}


