@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body, header, footer{
    font-family: Oxygen, sans-serif;
    font-size: larger;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
main, 
footer {
    margin: 0px 15px 5px 15px;
}

header {
    flex: 1;
    display: flex;
    align-items: baseline;
    border-bottom: thin lightgray solid;
}

h1 {
    margin: 20px;
    flex: 0 100px;
}

nav {
    flex: 1;
}

img {
    flex: 0 50px;
    background-color: lightgray;
}

header>a,
img {
    margin: 10px;
}

header > img {
    height:50px;
}

main {
    flex: 6;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.section-container {
    border: thin lightgray solid;
    border-radius: 15px;
    flex: 0 400px;
    margin: 15px 0px;
}

section {
    align-items: center;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

section > p{
    margin: 10px;
    margin-bottom: 0px;
}

#notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: medium;
    overflow-y: scroll;
    width: 400px;
}

.post>img {
    max-width: 300px;
}

#meals {
    align-items: center;
    font-size: medium;
}

#meals > .card-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    overflow-x:scroll;
    margin: 10px;
    align-items: center;
}

.card {
    width: 300px;
}

.card > img {
    max-width: 100%;
    max-height: 50%;
}

button {
    margin: 10px;
}

a {
    margin: 20px;
    text-decoration: none;
}

b {
    margin: 10px;
    font-size: larger;
}


.accordian-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    flex: 1;
    border-top: thin lightgray solid;
    display: flex;
}

.add-meal-container {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    justify-content: left;
}

input {
    margin: 3px 0px;
    border: thin solid gray;
    border-radius: 6px;
}

#upload {
    background-color: white;
    border: thin solid gray;
    border-radius: 10px;;
    margin-left: 40px;
    padding: 20px;
}

#profile {
    flex-direction: column;
    align-items: center;
}

#profile-header, #profile-content {
    min-width: 300px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#profile-header {
    flex: 1;
}

#profile-header > img, p{
    margin: 10px;
}

#profile-content {
    flex: 3;
}

#biography {
    padding: 10px;
    max-width: 500px;
    margin: 15px;
}

.container {
    display: flex;
    align-items: center;
}
#friends-list {
    list-style: none;
}
#friends-list > li > img, a{
    
    margin: 5px;
}

