li {
    list-style: none;
    margin: 5px;
}

#main-goal {
    display: flex;
    flex-direction: row;
    font-size: medium;
}

#main-goal>div {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#main-goal>div>p {
    margin: 10px 10px 0px;
}
