.card-container {

    display:flex;
    justify-content: center;
}

#carousel {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    text-align: center;
    min-height: 100%;
}