@media screen and (max-width: 600px){
    .datepicker {
        width: 100%;
    }
    
    .datepicker-calendar {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 13vw);
        margin: 10px;
    }

    button {
        margin: 5px;
    }
}

#calendar {
    align-items: center;
    justify-content: flex-start;
    flex: 6;
}

.datepicker {
    text-align: center;
    width: 75%;
    height: 100%
}
.datepicker-top {
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: -.5rem;
}

.month-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #FFF;
    border-radius: 12px;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 2px 0 rgba(#000, .25), 0 0 10px 0 rgba(#000, .15);
}

#month-name {
    font-weight: 600;
}

.week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.button {
    width: 50%;
    margin: 10px 10px 10px 10px;
}

@media screen and (min-width: 650px) {
    .datepicker-calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-row-gap: 1rem;
        }
}



