@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@media screen and (max-width: 600px) {
    
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: xx-large;
    color: black;
    margin: 20px;
}

header,
footer {
    font-family: Oxygen, sans-serif;
    font-size: larger;
    margin: 0px 15px 5px 15px;
}

header {
    flex: 1;
    display: flex;
    align-items: baseline;
    border-bottom: thin lightgray solid;
}

footer {
    flex: 1;
    border-top: thin lightgray solid;
    display: flex;
}

h1 {
    margin: 20px;
    flex: 0 100px;
}

nav {
    flex: 1;
    display: flex;
}

img {
    flex: 0 50px;
    background-color: lightgray;
}

header>nav>a {
    margin: 0px 20px;
}

header>div>img {
    max-height: 50px;
    margin: 10px;
}

a {
    text-decoration: none;
}

b {
    margin: 10px;
    font-size: larger;
}
